/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.main-panel {
  background-color: black;
  margin: 0 10px 10px 10px;

}

.main-panel .content {
  margin: 0 35px 35px 35px;
}

.main-highlight {
  color: #FF7B00;
  font-weight: bolder;
}

.vertical-align {
  position: relative;
  top: 20px;
}

th.headerSortUp {
  background-image: url(../images/black_asc.gif); 
  background-color: #3399FF; 
}

th.headerSortDown {
  background-image: url(../images/black_desc.gif); 
  background-color: #3399FF; 
}

th.header {
  background-image: url(../images/black_unsorted.gif); 
  background-color: #3399FF; 
}
